/* Navbar Styling */
.navbar {
    background-color: rgb(22, 22, 22); 
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 12%;
    z-index: 1000; 
}

.navbar-branded{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    transition: background-color 1.3s, color 1.9s, transform 2.6s ease-in-out;
    color: white; 
}

.navbar-branded .logo {
    width: 18%; 
    margin-top: 1rem;
    margin-right: 1px;
    border-radius: 50%;
    transition: transform 1.4s ease-in-out; 
}

.navbar-branded .logo:hover {
    transform: scale(1.8); 
}


.navbar-nav {
    margin-left: auto; 
}

.nav-link {
    font-size: 24px;
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-weight:  bold;
    transition: color 0.9s ease-in-out;  
    padding: 6%;
}
.nav-link:hover {
    background-color: rgb(19, 10, 101);
    color: black; 
    transform: translateY(-3px);
    transition: transform 1.0s ease-in-out; 
    transform: scale(1.2); 
}
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1rem; 
    }
    .profile-pic {
        width: 80px; 
        height: 80px;
    }
}
/* Main Page Styling */
.main{
    padding-top: 80px; 
}

.main h1 {
    color: white;
    font-weight: bold; 
  
}

.main {
    background: url('../images/Back.jpg') no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h3 {
    margin-right: 250px;
    font-size: 3.9rem;
    font-weight: 600;
    transition: transform 0.3s ease-in-out; 
}

.main h3:hover {
    transition: background-color 1.3s, color 1.9s, transform 1.6s ease-in-out;
    transform: scale(1.05);
}
.main h2 {
    margin-right: 200px;

    font-size: 40px;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    }

@media (max-width: 768px) {
    .main h3, .main h1{
        font-size: 2rem; 
    }
}

/* About Section Styling */
.about-section {
    background-color: black; 
    background-size: cover;
    color: white;
    font-weight: bolder;
    padding: 20px 20px;
    text-align: center;
    
}

.about-section p {
    text-align: justify;
}
.skill-section {
    background-color: rgb(21, 22, 73); 
    background-size: cover;

}

.skillss h3{
    color: white;
    text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   margin-left: 35rem;
   margin-right: 20rem; 
   margin-top: 2%;  
}
.skill{
    margin-top: 20px;
}

.skill,
.other-skill {
    margin-bottom: 5px;
}

.skill-name {
    text-align: left;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 12rem;
}

.skill-bar {
    position: relative;
    height: 20px;
    text-align: center; /* Center align text */
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 12rem;
    background-color: #eeeaea65; /* Background for progress bar */
}

.skill-bar::after {
    content: '';
    display: block;
    height: 100%;
    background-color: rgb(37, 7, 112); /* Skill bar color */
    width: var(--skill-level, 0%);
    transition: width 3s ease; 
}
.skill-percentage {
    position: absolute;
    top: 0;
    left: 10;
    font-weight: bold;
    text-align: center;
    padding: 3px 10px;
    border-radius: 0 10px 10px 0;
    transform: translateX(-100%);
    opacity: 0;
    animation: show-percentage 4s ease-out forwards;
}
.skill-bar[data-skill]::after {
    animation: show-percentage s ease-out forwards;
    width: var(--skill-level, 0%);
    background-color: rgb(12, 231, 96);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* Align text to the right */
    align-items: center; /* Center vertically */
    padding: 0 10px;
    box-sizing: border-box;
    content: attr(data-skill) '%';
    transition: width 1s ease;
}

.skill-bar[data-skill]:hover::after {
    width: attr(data-skill '%');
}

@keyframes show-percentage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Show Other Skills button */
#toggle-skills {
    background-color: rgb(3, 103, 6);
    color: white; /* Your theme color */
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 2%;
    margin-left: 12rem;
    transition: background-color 1.3s, color 1.9s, transform 1.5s ease-in-out;
}

#toggle-skills:hover {
    background-color: black; 
    color: rgb(107, 5, 5);
}



/* Update Services card s */
.services{
    background-color: rgb(4, 84, 66);
    background-size: cover;
    color: black;
    font-weight: bolder;
    padding: 60px 20px;
}
.services .card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 1.3s ease;
    color: white;
    background-color: rgba(0, 0, 0, 0.248);
}
#circle{
    height: 600px;
    width: 900px;
    border-radius: 50%;
}
.services .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    background-color: black;
}
.card:hover {
    animation: fadeIn 0.5s ease-in-out;
    transition: transform 1.7s, box-shadow 0.6s;
    transform: scale(1.5s); /* Zoom effect on hover */
    color: #00000065;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.services .circle span {
    font-size: 30px;
    color: #fff;
}

.services h4 {
    color: rgb(107, 5, 5); 
}

.services p {
    color: black; 
    font-size: 16px;
    line-height: 1.6;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(15px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0.9);
    }
}
.zoom-hover {
    transition: background-color 1.3s, color 0.9s, transform 1.6s ease-in-out;
}
.zoom-hover:hover {
    transition: background-color 1.3s, color 1.9s, transform 1.6s ease-in-out;
    transform: scale(1.2); /* Scale up by 10% on hover */
}
/* Apply fadeIn animation to buttons */
.zoom-hover {
    color: white;
    font-weight: bolder;
    background-color: rgb(107, 5, 5);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    animation: fadeIn 1.5s ease-in-out; 
}

#btn1:hover,
#btn2:hover {
    background-color:black; 
    border-color: rgb(107, 5, 5);
    color: rgb(107, 5, 5); 

}
#btn1,#btn2{
    background-color: rgb(3, 103, 6); 
    color: #ffffff; 
    border-color: rgba(0, 0, 0, 0);
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
   margin-left: 1rem;
   margin-bottom: 2%;
   margin-top: 2%;
    align-items: center;
    text-align: center;
}
#btn3{
    background-color: rgb(3, 103, 6); 
    color: #ffffff; 
    border-color: rgba(0, 0, 0, 0);
    font-weight: bolder;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
   margin-left: 34rem;
   margin-bottom: 2%;
   margin-top: 2%;
    align-items: center;
    text-align: center;

}
/* Projects Section Styling */
.projects-section {
    background-color: rgba(17, 16, 16, 0.96);
    background-size: cover;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.filter-buttons {
    transition: background-color 1.3s, color 0.9s, transform 1.6s;
    margin: 20px auto;
    text-align: center;
}

.filter-button {
    display: inline-block;
    margin: 5px;
    font-weight: bolder;
    padding: 10px 20px;
    background-color: rgb(107, 5, 5);
    color: white;
    border: 2px solid rgb(107, 5, 5);
    border-radius: 5px ;
    cursor: pointer;
    transition: background-color 1.3s, color 0.9s, transform 1.6s;
    font-size: 16px;
}

.filter-button:hover {
    transition: background-color 1.3s, color 0.9s, transform 1.6s;
    background-color: black; /* Darker shade on hover */
    color: rgb(107, 5, 5);
}

.filter-button.active {
    background-color: rgb(77, 6, 6); /* Active button color */
    color: white;
}

.project-grid {
  border: 1pc solid;
  border-color: rgb(107, 5, 5);
  background-color: rgb(107, 5, 5);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project {
    display: grid;
    background-color: rgba(65, 7, 7, 0.404);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1.7s, box-shadow 0.6s;
}

.project:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    color: #00000065;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.project-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
.project-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}
.project h2 {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 10px;
    color:black; 
}

.project p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
    font-weight: bolder;
    flex-grow: 1;
    max-height: 80px; /* Example: Limit description height */
    overflow: hidden;
    text-overflow: ellipsis;
}

.view-project-button {
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color:white;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    align-self: flex-start;
    transition: background-color 0.7s, color 0.7s;
}

.view-project-button:hover {
    background-color: rgba(128, 128, 128, 0.57);
    transition: transform 1.7s, box-shadow 0.6s;
    transform: scale(1.1);
    color: black;
}

.show-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(107, 5, 5);
    color: white; /* Button text color */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1.3s, color 0.9s, transform 2.6s;
}

.show-more-button:hover {
    border: 1px solid black;
    transform: scale(1.1);
    background-color:black; /* Darker shade on hover */
    color: rgb(107, 5, 5);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Optional: Start from slightly below */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation Keyframes */
@keyframes zoomOut {
    from {
        transform: scale(1.8);
    }
    to {
        transform: scale(1.05);
    }
}

/* education-certifications */
.education-certifications {
    background-color: #000;
    background-size: cover;
    color: white; 
    padding: 60px 20px;
    padding: 60px 0;
    text-align: center; 
}

.education-certifications h2 {
    color: white; 
}

.education-certifications .container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.education-certifications .col-md-6 {
    flex: 0 0 45%; 
    margin: 20px; 
    text-align: left; 
}

.education-certifications .education-list, .certifications-list {
    list-style-type: none;
    padding-left: 0;
}

.education-certifications .education-list li, .certifications-list li {
    margin-bottom: 20px;
}

.education-certifications .certifications-list a {
    color: white; 
    text-decoration: none;
    position: relative; /* Ensure relative positioning for animation */
    display: inline-block;
    transition: transform 1.0s ease, box-shadow 0.3s ease;
}

.education-certifications .certifications-list a:hover {
    background-color: white;
    color: rgb(107, 5, 5); /* Adjusted text color on hover */
    transform: scale(1.1); /* Zoom effect on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-certifications .certifications-list a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Background color for overlay */
    transition: opacity 0.3s ease; /* Smooth fade-in transition */
    z-index: -1;
    opacity: 0;
}

.education-certifications .certifications-list a:hover::before {
    opacity: 0.3; /* Fade-in effect on hover */
}

@media (max-width: 768px) {
    .education-certifications .container {
        flex-direction: column;
        align-items: center; /* Center align items vertically */
    }

    .education-certifications .col-md-6 {
        flex: 1 0 auto; /* Reset flex properties for stacking */
        width: 100%;
        margin: 10px 0; /* Adjust margin for smaller screens */
    }
    .education-item,
    .certification-item {
        text-align: center; /* Center align on smaller screens */
    }
}



/* Contact Section */
.contact-section {
   background-color: rgb(107, 5, 5);
    background-size: cover;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 60px 0;
    position: relative;
}

.section-head {
    color:white;
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 1.3s ease, background-color 1.3s ease;
    position: relative; 
}

.contact-link:hover {
    transform: translateY(-5px); 
    background-color: black;
    font-weight: bolder;
    color:rgb(107, 5, 5); 
}

.contact-icon {
    font-size: 24px;
    margin-right: 10px;
}

.contact-text {
    font-size: 18px;
    font-weight: bold;
}

.contact-location {
    font-weight: bolder;
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

.contact-section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
}

@media (max-width: 768px) {
    .contact-links {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center;
    }

    .contact-links a {
        margin-bottom: 10px; /* Add space between links */
    }
}